.card__container {
  position: relative;
  border: 3px solid #3e4357;
  border-radius: 10px;
  width: 20rem;
  height: 30rem;
  display: flex;
  overflow: hidden;
  margin-top: 0.7rem;
}
.card__image {
  width: 100%;
  object-fit: cover;
  transition: transform 0.8s;
}
.card__image:hover {
  transform: scale(1.1);
}
