.card-label__container {
  position: absolute;
  bottom: 6rem;
  right: 0;
}
.card-label__content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d0d0d;
  font-size: 0.8rem;
  font-weight: bold;
  height: 3rem;
  padding: 0 3rem;
}
.card-label__content p {
  color: white;
}
